$beard: -4px -4px 53px 15px;
$man: -4px -27px 17px 16px;
$women: -4px -51px 18px 17px;
$Gdot: -4px -76px 17px 17px;
$shortDot: -4px -101px 65px 18px;
$mon: -4px -127px 23px 23px;
$year: -4px -158px 26px 24px;
$checkbox: -4px -190px 41px 41px;
$glow: -4px -239px 44px 44px;
$focus: -4px -291px 44px 44px;
$header-tail: -4px -343px 193px 49px;
$info: -4px -400px 163px 75px;
$list: -4px -483px 163px 75px;
$play: -4px -566px 163px 75px;
$sent: -4px -649px 212px 79px;
$monInput: -4px -736px 132px 79px;
$next: -4px -823px 184px 79px;
$yearInput: -4px -910px 186px 79px;
$yearInput-dis: -4px -997px 186px 79px;
$monInput-dis: -4px -1084px 132px 79px;

@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}

@function sprite-width($sprite) {
  @return nth($sprite, 3);
}

@function sprite-height($sprite) {
  @return nth($sprite, 4);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite($sprite) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

.icon {
  background-image: url('../images/icon/icon-sprites.png');
}

