include ./meta.jade
title website Title
//- select jquery ver 
//- current CDN version: 1_8_1 , 1_8_3 , 1_9_1 , 1_11_3 , 2_0_3 , 2_1_0 , 2_1_4
//- current Local version: L-1_8_3 , L-1_9_0 , L-1_10_2 
- var jQueryLibVersion = "1_9_1"
include ./lib/javascriptLib.jade
include ./javascript.jade
include ./stylesheet.jade
script.
  //- 上線要打開
  var console = window.console || { log: function () {} }